body {
    background-color: rgb(202,202,211);
}

#bg-color {
    height: 331px;
    width: 82%;
    margin-left: -15%;
    margin-top: -710px;
    opacity: 0.2;
    border-radius: 176px;
}

.display-block {
    display: block;
    padding: 5px;
    margin: 5px;
}

.align {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.goku {
    max-width: 60%;
}

.genkidama {
        margin-top: 80px;
        margin-left: 110px;
        max-width: 30%;
}